# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.tgz
*exercise1
*exercise2
*exercise2_starting_point
*exercise2_fast
*exercise3
tarballs/*
henri_solutions/*
bcast_default
bcast_naive
bcast_ring
bcast_ring_pipelined
bcast_ring_pipelined_isend
bcast_bintree_pipelined_isend
mat_mul_init
matmul_outerproduct
lu_simple
sequential_lu
lu_simulated
*.pyc
